.formFieldInput{
  width: 100%;
  border-bottom: 2px solid #d8d8d8;
  border-radius: 0px;
  background: white;
  color: black;
  padding: 5px;
}

.formFieldLabel{
  font-family: Roboto;
    font-size: larger;
    padding: 5px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.25);
  opacity: 1; /* Firefox */
  padding-left: 5px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:rgba(255, 255, 255, 0.25);
 padding-left: 5px;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: rgba(255, 255, 255, 0.25);
 padding-left: 5px;
}

#centerBlock{
  text-align: center;
}
createAccountBtn{
    border: 2px solid #ff0079;
    border-radius: 24px;
    padding: 11px;
    background: #ffffff00;
}

.valid {
  color: green;
}

.valid:before{
  position: relative;
  left: -5px;
  content:"O"
}

.invalid{
  color: red;
}

.invalid:after{
  position: relative;
  left: 5px; 
  content: "X";
}