nav.navbar.navbar-default {
  margin-bottom: 0;
  
}
.bg-light {
  background-color: #95ffbe!important;
}

input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}