nav{
  background-image: linear-gradient(90deg, aquamarine, #a8a8fb);
  padding: 18px;
}

h1 {
  font-size: 2.5rem;
  color: white;
  font-family: roboto;
  margin-bottom: 0rem;
  font-weight: 500;
  line-height: .9;
}

input {
  width: 64%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}